<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">

      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown btn btn-success">
                 <a class="nav-link dropdown-toggle text-black" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
                 <div class="dropdown-menu">
                  <a class="nav-link text-black" href="{{ path('home.index') }}">Accueil</a>
                  {% if app.user %}
                  <a class="nav-link text-black" href="{{ path('ingredient.index') }}">Ingredient</a>
                  <a class="nav-link text-black" href="{{ path('recipe.index') }}">Recette</a>
                  {% endif %}
                  <div class="dropdown-divider"></div>
                  {% if app.user %}
                  <a class="nav-link text-black" href="{{ path('user.edit', {'id': app.user.id}) }}">Modifier son profil</a>
                  <a class="nav-link text-black" href="{{ path('user.edit.password', {'id': app.user.id}) }}">Modifier son password</a>
                  {% endif %}
                  <div class ="dropdown-divider"></div> 
                  {% if not app.user %}
                  <a class="nav-link text-black" href="{{ path('security.registration') }}">Inscription</a>
                  <a class="nav-link text-black" href="{{ path('security.login') }}">Connexion</a>
                  {% endif %}
                  {% if app.user %}
                  <a class="nav-link text-black" href="{{ path('security.logout') }}">Deconnexion</a>
                  {% endif %}
                 </div>
        </li>
      </ul>
    </div>

    
  
  </nav>
