{% extends 'base.html.twig' %}

{% block title %}SymRecip - Mes Ingredient{% endblock %}

{% block body %}
    <div class="container mt-4">
      {% if not ingredients.items is same as ([]) %}
        <h1 class="mt-4">Mes Ingredient</h1>

      <a href="{{ path('ingredient.new') }}" class="btn btn-primary">Créer un ingredient</a>

        {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

        <small>
            <div class="count mt-4">
                {{ ingredients.getTotalItemCount }}
            </div>
        </small>
            <table class="table table-hover mt-4">
                <thead>
                  <tr>
                    <th scope="col">Numero</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Edition</th>
                    <th scope="col">Suppresion</th>
                  </tr>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                  <tr>

                    <td>{{ ingredient.id }}</td>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.price }}</td>
                    <td>{{ ingredient.createdAt|date('d/m/y') }}</td>
                    <td><a href="{{ path('ingredient.edit', { id: ingredient.id }) }}" class="btn btn-info">Edition</a></td>
                    <td><a href="{{ path('ingredient.delete', { id: ingredient.id }) }}" class="btn btn-warning">Suppresion</a></td>

                  </tr>
                  {% endfor %}
                </tbody>
              </table>   
              <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(ingredients) }}
            </div>
            {% else %}
              <h4>il n'y a pas d'ingredient</h4>
            {% endif %}
    </div>
{% endblock %}



