{% extends "base.html.twig" %}

{% block title %}SymRecipe - Acceuil{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur SymRecipe</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>clicker sur le bouton ci dessous pour vous connectez </p>
        <a class="btn btn-primary btn-lg" href="{{ path('security.login') }}" role="button">Connexion</a>
    </div>

<div class="recipe">
    <h2 class="mt-4">Recette Publique</h2>
    <div class="d-flex justify-content-between mt-4">
        {% for recipe in recipes %}
        <div class="card border-info m-2" style="max-width: 20rem;">
          <div class="card-header">Recette n: {{ recipe.id }}</div>
          <div class="card-body">
            <h4 class="card-title">{{ recipe.name }}</h4>
            <p class="card-text">{{ recipe.description|slice(0, 100)~ '...' }}</p>
            <a href="{{ path('recipe.show', { id: recipe.id }) }}" class="btn btn-success">Vue</a>
          </div>
        </div>
      {% endfor %}
</div>
</div>
</div>

{% endblock %}
