{% extends 'base.html.twig' %}

{% block title %}SymRecip - Recette Publique{% endblock %}

{% block body %}
    <div class="container mt-4">
      {% if not recipes.items is same as ([]) %}
        <h1 class="mt-4">Recettes publique</h1>

        {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
    <div class="alert alert-warning mt-4">
        {{ message }}
    </div>
    {% endfor %}
        <small>
            <div class="count mt-4">
                {{ recipes.getTotalItemCount }}
            </div>
        </small>
        <div class="d-flex justify-content-center flex-wrap">
                    {% for recipe in recipes %}
                    <div class="card border-secondary m-2" style="max-width: 20rem;">
                      <div class="card-header">Recette n: {{ recipe.id }}</div>
                      <div class="card-body">
                        <h4 class="card-title">{{ recipe.name }}</h4>
                        <p class="card-text">{{ recipe.description|slice(0, 100)~ '...' }}</p>
                        <a href="{{ path('recipe.show', { id: recipe.id }) }}" class="btn btn-success">Vue</a>
                      </div>
                    </div>
                  {% endfor %}
        </div>
         <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(recipes) }}
            </div>
            {% else %}
              <h4>il n'y a pas de recette</h4>
            {% endif %}
    </div>
{% endblock %}



