{% extends 'base.html.twig' %}
{% block title %}SymRecipe - Inscription{% endblock %}

{% block body %}
<div class="container">
    <h1 class='mt-4'>Formulaire d'inscription</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.pseudo) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

    {{ form_end(form) }}


</div>
{% endblock %}